.nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;
  align-items: center;
}
.nav input,
::placeholder {
  color: white;
  padding: 10px;
}

.heading {
  font-size: 2rem;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  margin-top: 1rem;
}
.list img {
  border-radius: 2rem;
  width: 200px;
}
.list h3 {
  text-align: center;
}
.image {
  border: 2px solid #ffffffde;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
  margin-top: 20px;
}
.list li {
  position: relative;
}
.user-id {
  background-color: #ffffff;
  /* display: inline; */
  width: 20px;
  color: #242424;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  position: absolute;
  z-index: 1;
  right: -15px;
  top: 5px;
}
.edge-case .message {
  text-align: center;
  border: 2px solid #ffffff;
  width: max-content;
  margin-left: 40%;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: rgb(141, 10, 10);
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
